# HW4 - tabular data preprocessing

In [116]:
import pandas as pd

## JSRT dataset

In [117]:
df1_jsrt = pd.read_csv('./jsrt/Clinical_Information/CNNDAT_EN2.txt', sep=' ', names = ['ImageID', 'Age', 'Sex', 'Type'], index_col=False)
df2_jsrt = pd.read_csv('./jsrt/Clinical_Information/CLNDAT_EN.txt', sep='\t', names = ['ImageID', 'Nodule_size', 'Degree_of_subtlety', 'Age','Sex','X','Y','Type','Location', 'Diagnosis'], index_col=False)

In [118]:
common_cols_jsrt = [col for col in set(df1_jsrt.columns).intersection(df2_jsrt.columns)]
df1_jsrt = df1_jsrt[common_cols_jsrt]
df2_jsrt = df2_jsrt[common_cols_jsrt]
df_jsrt = pd.concat([df1_jsrt, df2_jsrt])
df_jsrt

          ImageID     Sex        Type Age
0    JPCNN001.IMG  female  non-nodule  30
1    JPCNN002.IMG    male  non-nodule  62
2    JPCNN003.IMG  female  non-nodule  70
3    JPCNN004.IMG    male  non-nodule  52
4    JPCNN005.IMG    male  non-nodule  25
..            ...     ...         ...  ..
149  JPCLN150.IMG  female   malignant  51
150  JPCLN151.IMG  female   malignant  37
151  JPCLN152.IMG    male      benign  56
152  JPCLN153.IMG    male   malignant  64
153  JPCLN154.IMG  female   malignant  75

[247 rows x 4 columns]

In [119]:
df_jsrt["Age"].replace({"?": "62"}, inplace=True)
df_jsrt["Age"] = df_jsrt["Age"].astype(int)
df_jsrt.drop(['ImageID'], axis=1, inplace=True)
df_jsrt['Sex'] = df_jsrt['Sex'].apply(lambda x: 0 if x == 'male' else 1)
df_jsrt['Type'] = df_jsrt['Type'].apply(lambda x: 0 if x == 'non-nodule' else 1 if x == 'benign' else 2)
df_jsrt['Age'] = pd.qcut(df_jsrt['Age'], 4, labels=[0,1,2,3])

In [120]:
df_jsrt

     Sex  Type Age
0      1     0   0
1      0     0   2
2      1     0   3
3      0     0   1
4      0     0   0
..   ...   ...  ..
149    1     2   1
150    1     2   0
151    0     1   1
152    0     2   2
153    1     2   3

[247 rows x 3 columns]

## PadChest dataset

In [121]:
df_pad = pd.read_csv('./padchest_dataset/PADCHEST_chest_x_ray_images_labels_160K_01.02.19.csv', low_memory = False)

In [122]:
df_pad['Age'] = pd.to_numeric(df_pad['StudyDate_DICOM'].astype('string').str.slice(0,4)) - df_pad['PatientBirth']

In [123]:
df_pad.drop(df_pad.columns[[0,1,2,3,4,5,6,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,33,34,35]], axis=1, inplace=True)

In [124]:
df_pad.rename(columns = {'PatientSex_DICOM':'Sex'}, inplace = True)

In [125]:
df_pad

,Sex,Labels,Localizations,Age
0,F,['normal'],[],84.0
1,M,"['pulmonary fibrosis', 'chronic changes', 'kyp...","['loc basal', 'loc basal bilateral']",86.0
2,M,"['pulmonary fibrosis', 'chronic changes', 'kyp...","['loc basal', 'loc basal bilateral']",86.0
3,F,['chronic changes'],"['loc cardiac', 'loc mediastinum', 'loc costop...",90.0
4,F,['chronic changes'],"['loc cardiac', 'loc mediastinum', 'loc costop...",90.0
...,...,...,...,...
160856,M,"['COPD signs', 'costophrenic angle blunting']",['loc costophrenic angle'],63.0
160857,F,['normal'],[],65.0
160858,M,"['NSG tube', ' endotracheal tube']",['loc tracheal'],46.0
160859,F,['normal'],[],67.0
160860,M,['pneumonia'],"['loc hilar', 'loc left', 'loc pleural']",59.0

In [126]:
df_pad['Sex'] = df_pad['Sex'].apply(lambda x: 0 if x == 'M' else 1)
df_pad['Labels'] = df_pad['Labels'].apply(lambda x: 0 if x == "['normal']" else 1)
df_pad['Age'] = pd.qcut(df_pad['Age'], 4, labels=[0,1,2,3])

In [127]:
df_pad['Localizations'].value_counts()

[]                                                                                                                                         65523
['loc cardiac']                                                                                                                             6242
['loc aortic']                                                                                                                              2777
['loc aortic', 'loc cardiac']                                                                                                               1483
['loc hilar']                                                                                                                               1186
                                                                                                                                           ...
['loc cardiac', 'loc mediastinum', 'loc aortic button']                                                                                        1
['loc left', 'loc cardiac', 'loc aortic', 'loc diaphragm', 'loc costophrenic angle']                                                           1
['loc lung field', 'loc lower lung field', 'loc pleural', 'loc right', 'loc hemithorax', 'loc middle lung field', 'loc bilateral']             1
['loc right', 'loc pleural', 'loc hemithorax', 'loc apical', 'loc right costophrenic angle', 'loc bilateral', 'loc costophrenic angle']        1
['loc infradiaphragm', 'loc right', 'loc pleural', 'loc basal bilateral', 'loc tracheal']                                                      1
Name: Localizations, Length: 20231, dtype: int64

In [128]:
df_pad.drop(['Localizations'], inplace=True, axis=1)

In [129]:
df_pad

        Sex  Labels Age
0         1       0   3
1         0       1   3
2         0       1   3
3         1       1   3
4         1       1   3
...     ...     ...  ..
160856    0       1   2
160857    1       0   2
160858    0       1   0
160859    1       0   2
160860    0       1   1

[160861 rows x 3 columns]

## Covid CT

In [130]:
df_ct = pd.read_excel("Covid-CT-Metainfo.xlsx")

In [131]:
df_ct

,File name,Patient ID,Age,Gender,Location,Medical history,Time,Severity,Other diseases,DOI,Captions
0,2020.01.24.919183-p27-132.png,Patient 1,41,M,"Wuhan, China","no history of hepatitis, tuberculosis or diabe...",day 6 after the onset of illness,"Chest tightness, unproductive cough, pain and ...",NaN,NaN,['Figure 1. Chest radiographs of patient 1. a....
1,2020.01.24.919183-p27-133.png,Patient 1,41,M,"Wuhan, China","no history of hepatitis, tuberculosis or diabe...",day 6 after the onset of illness,same as above,NaN,NaN,['Figure 1. Chest radiographs of patient 1. a....
2,2020.01.24.919183-p27-134.png,Patient 1,41,M,"Wuhan, China","no history of hepatitis, tuberculosis or diabe...",day 6 after the onset of illness,same as above,NaN,NaN,['Figure 1. Chest radiographs of patient 1. a....
3,2020.01.24.919183-p27-135.png,Patient 1,41,M,"Wuhan, China","no history of hepatitis, tuberculosis or diabe...",day 6 after the onset of illness,same as above,NaN,NaN,['Figure 1. Chest radiographs of patient 1. a....
4,2020.02.10.20021584-p6-52%0.png,Patient 2,50,M,"Beijing, China",NaN,"Illness Day 8, Hospital Day 0",Early stage: Ground glass shadow in multiple l...,NaN,NaN,['Figure 1. A 50-year-old man with 2019 novel ...
...,...,...,...,...,...,...,...,...,...,...,...
345,Talaromyces-marneffei-infection-relapse-presen...,Patient 216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.1016/j.ijid.2020.02.037,Computed tomography of the lungs revealed mass...
346,Talaromyces-marneffei-infection-relapse-presen...,Patient 216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.1016/j.ijid.2020.02.037,Computed tomography of the lungs revealed mass...
347,Talaromyces-marneffei-infection-relapse-presen...,Patient 216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.1016/j.ijid.2020.02.037,Computed tomography of the lungs revealed mass...
348,Talaromyces-marneffei-infection-relapse-presen...,Patient 216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.1016/j.ijid.2020.02.037,Computed tomography of the lungs revealed mass...
349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"NTM, nontuberculous mycobacterium."

In [132]:
df_ct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   File name        349 non-null    object
 1   Patient ID       349 non-null    object
 2   Age              169 non-null    object
 3   Gender           137 non-null    object
 4   Location         228 non-null    object
 5   Medical history  44 non-null     object
 6   Time             134 non-null    object
 7   Severity         178 non-null    object
 8   Other diseases   19 non-null     object
 9   DOI              203 non-null    object
 10  Captions         337 non-null    object
dtypes: object(11)
memory usage: 15.1+ KB

In [133]:
df_ct.drop(['File name', 'Patient ID', 'Location', 'Age', 'Gender'], axis=1, inplace=True)

In [134]:
df_ct['Medical history'] = df_ct['Medical history'].fillna(0).apply(lambda x: 0 if x == 0 else 1)

In [135]:
df_ct['Time'].value_counts()

22 days                              8
7                                    6
day 10                               5
Illness Day 8, Hospital Day 0        4
Illness Day 15, Hospital Day 7       4
3 days                               4
Illness Day 20, Hospital Day 12      4
1                                    4
day 6 after the onset of illness     4
Illness Day 11, Hospital Day 3       4
day 9 after symptom onset            3
day 7                                3
5                                    3
 On the day of admission             3
23 days                              3
day 17 after symptom onset           3
 On the tenth day of admission       3
10                                   3
day 1 after symptom onset            3
day 13 after symptom onset           3
day 6                                3
10 days                              3
6                                    3
day 18                               2
day 21                               2
day 2                                2
day 11-12 after treatment            2
day 5                                2
4                                    2
2nd day of the course of disease     2
3                                    2
day 4-5 after admission              2
day 1 from symptom onse              2
day 14                               2
7 days after DIP treatment           1
0                                    1
day 7 from symptom onse              1
19 days                              1
have fever for more than 3 days      1
10 days before DIP treatment         1
day 5 from symptom onse              1
day 7  from symptom onse             1
have fever and cough                 1
2 days before DIP treatment          1
11th day of the course of disease    1
13 days                              1
2 days after DIP treatment           1
29 days                              1
7 days                               1
7th day of the course of disease     1
day 13                               1
day 5  from symptom onse             1
day 7                                1
5 days before DIP treatment          1
day 1                                1
15th day of the course of disease    1
day 9                                1
8                                    1
2                                    1
first day                            1
Name: Time, dtype: int64

In [136]:
df_ct['DOI'].value_counts()

10.1101/2020.02.25.20021568            26
10.1101/2020.03.04.20031047            12
10.1101/2020.03.13.20035212            12
10.1016/j.ijid.2020.02.050             10
10.1101/2020.03.04.20030395             9
10.1101/2020.03.01.20029769             8
10.1016/ S0140-6736(20)30360-3          7
10.1101/2020.03.04.20031039             6
10.1101/2020.03.04.20026005             6
10.1136/bmj.m606                        6
10.1101/2020.03.11.20033159             6
10.1101/2020.02.26.20027938             6
10.1101/2020.02.27.20027557             5
10.1101/2020.03.03.20030775             5
10.1101/2020.03.12.20027185             4
10.1101/2020.03.10.20032136             4
10.1016/j.ijid.2020.02.037              4
10.1101/2020.03.16.20035105             4
10.1101/2020.02.26.20026989             4
10.1101/2020.03.07.20031393             4
10.1101/2020.03.08.20031658             4
10.1101/2020.03.09.20033118             4
10.1101/2020.03.12.20034686             4
10.3348/kjr.2020.0112                   3
10.1101/2020.03.03.20030353             3
10.1017/ice.2020.84                     3
10.3348/kjr.2020.0132                   2
10.1016/ S0140-6736(20)30154-9          2
10.1136/bmj.m606                        2
10.1007/s11684-020-0757-x               2
10.1101/2020.02.28.20029025             2
10.1016/ S0140-6736(20)30360-3          2
10.1016/j.ijid.2020.02.050              2
10.1016/ S0140-6736(20)30211-7          2
10.3348/kjr.2020.0132                   2
10.1093/eurheartj/ehaa254               2
10.1016/j.ijid.2020.03.003              2
10.1016/ S0140-6736(20)30154-9          2
10.3348/kjr.2020.0112                   2
10.1016/j.ijid.2020.02.043              2
10.1101/2020.02.25.20027763             2
10.1007/s11684-020-0757-x               2
10.1016/j.ijid.2020.02.043              1
10.1093/med/9780198814924.003.0017      1
Name: DOI, dtype: int64

In [137]:
df_ct.drop(['Time', 'DOI'], axis=1, inplace=True)

In [138]:
df_ct['Severity'] = df_ct['Severity'].fillna(0).apply(lambda x: 0 if x == 0 else 1)
df_ct['Other diseases'] = df_ct['Other diseases'].fillna(0).apply(lambda x: 0 if x == 0 else 1)
df_ct['Captions'] = df_ct['Captions'].fillna(0).apply(lambda x: 0 if x == 0 else 1)

In [139]:
df_ct.corr()

                 Medical history  Severity  Other diseases  Captions
Medical history         1.000000  0.131409       -0.090851  0.074477
Severity                0.131409  1.000000        0.058951  0.199803
Other diseases         -0.090851  0.058951        1.000000 -0.152981
Captions                0.074477  0.199803       -0.152981  1.000000

In [140]:
df_ct

     Medical history  Severity  Other diseases  Captions
0                  1         1               0         1
1                  1         1               0         1
2                  1         1               0         1
3                  1         1               0         1
4                  0         1               0         1
..               ...       ...             ...       ...
345                0         0               0         1
346                0         0               0         1
347                0         0               0         1
348                0         0               0         1
349                0         0               0         1

[350 rows x 4 columns]

## Covid-19 Chest X-Ray dataset

In [141]:
df_cov = pd.read_csv("metadata.csv")

In [142]:
df_cov

,patientid,offset,sex,age,finding,RT_PCR_positive,survival,intubated,intubation_present,went_icu,...,date,location,folder,filename,doi,url,license,clinical_notes,other_notes,Unnamed: 29
0,2,0.0,M,65.0,Pneumonia/Viral/COVID-19,Y,Y,N,N,N,...,"January 22, 2020","Cho Ray Hospital, Ho Chi Minh City, Vietnam",images,auntminnie-a-2020_01_28_23_51_6665_2020_01_28_...,10.1056/nejmc2001272,https://www.nejm.org/doi/full/10.1056/NEJMc200...,NaN,"On January 22, 2020, a 65-year-old man with a ...",NaN,NaN
1,2,3.0,M,65.0,Pneumonia/Viral/COVID-19,Y,Y,N,N,N,...,"January 25, 2020","Cho Ray Hospital, Ho Chi Minh City, Vietnam",images,auntminnie-b-2020_01_28_23_51_6665_2020_01_28_...,10.1056/nejmc2001272,https://www.nejm.org/doi/full/10.1056/NEJMc200...,NaN,"On January 22, 2020, a 65-year-old man with a ...",NaN,NaN
2,2,5.0,M,65.0,Pneumonia/Viral/COVID-19,Y,Y,N,N,N,...,"January 27, 2020","Cho Ray Hospital, Ho Chi Minh City, Vietnam",images,auntminnie-c-2020_01_28_23_51_6665_2020_01_28_...,10.1056/nejmc2001272,https://www.nejm.org/doi/full/10.1056/NEJMc200...,NaN,"On January 22, 2020, a 65-year-old man with a ...",NaN,NaN
3,2,6.0,M,65.0,Pneumonia/Viral/COVID-19,Y,Y,N,N,N,...,"January 28, 2020","Cho Ray Hospital, Ho Chi Minh City, Vietnam",images,auntminnie-d-2020_01_28_23_51_6665_2020_01_28_...,10.1056/nejmc2001272,https://www.nejm.org/doi/full/10.1056/NEJMc200...,NaN,"On January 22, 2020, a 65-year-old man with a ...",NaN,NaN
4,4,0.0,F,52.0,Pneumonia/Viral/COVID-19,Y,NaN,N,N,N,...,"January 25, 2020","Changhua Christian Hospital, Changhua City, Ta...",images,nejmc2001573_f1a.jpeg,10.1056/NEJMc2001573,https://www.nejm.org/doi/full/10.1056/NEJMc200...,NaN,diffuse infiltrates in the bilateral lower lungs,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,479,0.0,F,40.0,Pneumonia,NaN,NaN,NaN,NaN,NaN,...,NaN,United Kingdom,images,072ecaf8c60a81980abb57150a8016_jumbo-9.jpeg,NaN,https://radiopaedia.org/cases/multifocal-round...,CC BY-NC-SA,Asthmatic. Shortness of breath and wheeze. Rou...,"Case courtesy of Dr Ian Bickle, Radiopaedia.or...",NaN
946,479,70.0,F,40.0,Pneumonia,NaN,NaN,NaN,NaN,NaN,...,NaN,United Kingdom,images,ff33c406392b968d483174c97eb857_jumbo-9.jpeg,NaN,https://radiopaedia.org/cases/multifocal-round...,CC BY-NC-SA,Asthmatic. Shortness of breath and wheeze. The...,"Case courtesy of Dr Ian Bickle, Radiopaedia.or...",NaN
947,480,NaN,M,26.0,Pneumonia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,images,000001-266.jpg,NaN,https://www.eurorad.org/case/947,CC BY-NC-SA 4.0,fire-eater accidentally ingested a paraffin mi...,NaN,NaN
948,481,NaN,M,50.0,Pneumonia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,images,000001-272.jpg,NaN,https://www.eurorad.org/case/934,CC BY-NC-SA 4.0,"The patient, a heavy smoker, was referred to t...",NaN,NaN
949,481,NaN,M,50.0,Pneumonia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,images,000002-268.jpg,NaN,https://www.eurorad.org/case/934,CC BY-NC-SA 4.0,"The patient, a heavy smoker, was referred to t...",NaN,NaN

Based on the discovery from the first homework, I don't think there are any columns which are both relevant and complete enough  to train a model based on them.